<ion-view style="" title="Album">
    <ion-content class="has-header" padding="true">
      <div>
          <form style="">
            <label style="" name="titre" class="item item-input">
                <span class="input-label">titre</span>
                <input placeholder="Titre" type="text" ng-model="album.nom" required>
            </label>
            <label style="" name="numero" class="item item-input">
                <span class="input-label">numero</span>
                <input placeholder="Numéro" type="number" min="0" step="1" ng-model="album.numero" required>
            </label>
            <label style="" name="pages" class="item item-input">
                <span class="input-label">Pages</span>
                <input placeholder="pages" type="number" min="1" step="1" ng-model="album.nbrePages">
            </label>
            <label style="" name="dessinateur" class="item item-input">
                <span class="input-label">Dessinateur</span>
                <input placeholder="Dessinateur" type="text" ng-model="album.dessinateur">
            </label>
            <label style="" name="Scenariste" class="item item-input">
                <span class="input-label">Scenariste</span>
                <input placeholder="Scénariste" type="text" ng-model="album.scenariste">
            </label>
            <label style="" name="estimation" class="item item-input">
                <span class="input-label">Estimation</span>
                <input placeholder="Estimation de prix" type="number" min="0" ng-model="album.estimation">
            </label>
            <label style="" name="prixAchat" class="item item-input">
                <span class="input-label">Prix d'achat</span>
                <input placeholder="Prix d'achat" type="number" min="0" ng-model="album.prixAchat">
            </label>
            <label style="" name="dateAchat" class="item item-input">
                <span class="input-label">Date d'achat</span>
                <input placeholder="Date d'achat" type="date" ng-model="album.dateAchat">
            </label>
            <label style="" name="pret" class="item item-input">
                <span class="input-label">Preté à</span>
                <input placeholder="Prêté à" type="text" ng-model="album.pret">
            </label>
            <label style="" name="commentaire" class="item item-input">
                <span class="input-label">Commentaire</span>
                <input placeholder="Commentaire" type="text" ng-model="album.commentaire">
            </label>
            <label style="" name="serie" class="item item-select">
                <span class="input-label">Série</span>
                <select ng-options="item._id as item.serie.nom for item in serieList" name="serie" ng-model="album.serieId"></select>
            </label>
            <input type="hidden" name="id" ng-model="_id" />
            <input type="hidden" name="rev" ng-model="_rev" />
          </form>
        <!-- Buttons to add or change the whole serie entity -->
				<ion-button ng-if="!album._id" class="button button-block button-positive" ng-click="addAlbum()">
							Ajouter
				</ion-button>
        <ion-button ng-if="album._id" class="button button-block button-positive" ng-click="updateAlbum()">
							Changer
				</ion-button>
        <ion-button ng-if="album._id" class="button button-block button-positive" ng-click="deleteAlbum()">
							Effacer
				</ion-button>
      </div>
    </ion-content>
</ion-view>
